@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #100c08 ;
  }
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #585BAC #FFFFFF;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #100c08 ;
}

*::-webkit-scrollbar-track:hover {
  background-color: #100c08 ;
}

*::-webkit-scrollbar-track:active {
  background-color: #100c08 ;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #585BAC;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3661AC;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #585BAC;
}

.scroll-container {
  height: 200px;
}

.carousel-primary,
.carousel-secondary {
  top: 26%;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.carousel-primary img {
  width: 100%;
  margin-left: 20px;
  border-radius: 14px;
}

.carousel-primary {
  display: flex;
  justify-content: space-around;
  animation: scroll-horizontal 20s linear infinite;
}

.carousel-secondary {
  animation: scroll-horizontal 20s linear infinite;
  animation-delay: 10s;
}

@keyframes scroll-horizontal {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}
